@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald&family=Raleway&family=Roboto+Slab:wght@500&family=Spartan:wght@500&display=swap');

/*#loader { 
            border: 12px solid #f3f3f3; 
            border-radius: 50%; 
            border-top: 12px solid #444444; 
            width: 70px; 
            height: 70px; 
            animation: spin 1s linear infinite; 
        } 
          
     @keyframes spin { 
            100% { 
                transform: rotate(360deg); 
            } 
        } 
          
    .center { 
            position: absolute; 
            top: 0; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            margin: auto; 
        } 
	*/

.navbar {
  background-image:
linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://i.imgur.com/WMO1m90.jpg);
  background-attachment: fixed;
  font-family: 'Spartan', sans-serif;
   background-size:cover;
}
.hero{
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://i.imgur.com/WMO1m90.jpg);
  background-attachment: fixed;
  background-size:cover;
  height:450px;
}
@media screen and (max-width:600px)
{
  .navbar {
  background-image:
			linear-gradient(
		  rgba(0, 0, 0, 0.6),
		  rgba(0, 0, 0, 0.6)),
		url(https://i.imgur.com/WMO1m90.jpg);
		background-position:center;
	}
	.hero{
			background-image: linear-gradient(
			  rgba(0, 0, 0, 0.6),
			  rgba(0, 0, 0, 0.6)
			),
			url(https://i.imgur.com/WMO1m90.jpg);
			background-position:center;
	}
}
.text{
	 padding:10%;
	 font-family: 'Spartan', sans-serif;
}
.text h3{
	font-family: 'Share Tech Mono', monospace;
}
.navbar-light .navbar-nav .nav-link{
	margin:5px;
}
.navbar-light .navbar-brand,.navbar-light .navbar-nav .nav-link{
   color: rgba(211,206,236,1);
   margin-right:5px;
   padding:3px;
  text-align:center;
}
.navbar-light .navbar-toggler{
	background-color:rgb(134 161 186 / 70%);
	color:rgba(255,255,255,.8) !important;
}
.navbar-light .navbar-toggler-icon {
	color:white !important;
}
.navbar-light .navbar-brand:hover,.navbar-light .navbar-nav .nav-link:hover, .active>.nav-link:hover{
	color:rgba(255,255,255,1) !important;
}
.navbar-light .navbar-brand:focus,.navbar-light .navbar-nav .nav-link:focus{
	color:rgba(255,255,255,1);
}
.active>.nav-link{
	color:rgba(1,253,183,1) !important;
}
.wrap a{
	padding:1%;
	color:rgba(255,215,255,0.7);
	border:1px blue dotted;
	font-family: 'Oswald', sans-serif;
	text-decoration:none;
}
.wrap a:hover{
	background:rgba(255,250,250,0.8);
	color:black;
}
body{
	text-align:center;
}
main{
	font-family: 'Raleway', sans-serif;
}
.center{
	padding:2em;
	margin: 3em 5em 4em 5em;
}


.achievement {
	padding: 3%;
	margin-bottom:8%;
	margin-top: 5%;
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:white;
}
.resume{
	margin-top: 6%;
	margin-bottom:3%;
}
@media screen and (max-width:775px){
	.achievement h2, .resume h2, #int h3{
		margin-top:0px;
		margin-bottom:7%;
	}
	#int{
		margin-top:25px;
		margin-bottom:7%;
	}
}
#bg{
		background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("https://i.imgur.com/X6vN5Gs.jpg?1");
	background-repeat:no-repeat;
	background-position:47% 0px;
  background-attachment: scroll;
  background-size:cover;
	border-radius:2%;
}
@media screen and (max-width:780px)	
{
	#bg{
	background-image:none;
	
	}
}
@media screen and (min-width:782px){
	#bg h2{
		padding:10%;
	}
}

.quote{
	margin:4%;
	margin-top:2em;
	margin-bottom:2em;
	background: #134E5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height:30%;
	color:white;
	padding-top:2%;
	
}
.quote h2{
	font-size:30px;
	text-transform:uppercase;
}
.carousel-inner .carousel-item{
	color:white;
	font-size:24px;
	font-family: 'Courgette', cursive;

}
.carousel-item .container{
	padding:0%;
}
.carousel{
	margin:2%;
	padding:1%;
}
.carousel-control-prev .carousel-control-prev-icon{
	left:0;
	margin-left:0;
}
.carousel-control-next .carousel-control-next-icon{
	right:0;
	margin-right:0;
}
.d-md-block img{
	box-shadow:1px 1px 20px #000000;
	width:40%;
	height:75%
}
.carousel-controls {display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: space-between;position: absolute;width: 100%;top: 43%;}

.carousel-controls a {
	color: #cae1d2;
	padding: 0px;
	font-size: 25px;
}

@media screen and (min-width:782px){
	#title h2{
		padding:0%;
	}
}
#int h3, #title h2{
	padding-bottom:2%;
}
#title{
	margin-left:1%;
	margin-right:1%;
}
#int li{
	list-style-type:none;
}
#title a{
	color:#3613E5;
}	
@font-face {
	font-family: "AnthoniSignature";
	src: url(../fonts/AnthoniSignature.ttf) format("truetype"),
		url(../fonts/AnthoniSignature.woff) format("woff"),
		url(../fonts/AnthoniSignature.woff2) format("woff2");
}
	
.navbar-brand{
	font-family: "AnthoniSignature";
	font-size:20px;
	padding:.5%;
	
}

#container{
	min-height:100vh;
	margin-bottom:-140px;
}
#container:after{
	content:"";
	height:140px;
	display:block;
}

footer{
	height:140px;
	
	background: #0F2027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding:3%;
	background-size:cover;
	padding-bottom:2%;
}
footer a{
	font-size:1.5em;
	font-family: 'Raleway', serif;
	color:#fff !important;
	opacity:0.7;
	transition: all 0.5s linear;
}
footer li{
	display:inline-block;
	list-style-type:none;
	margin:1%;
}
footer ul{
	margin-bottom:0px;
}
li i,footer i{
	color:#fff;
	opacity:0.7;
	transition: all 0.5s linear;
	margin-right:2%;
}
footer i:hover,li i:hover, footer a:hover{
	opacity:1;
	text-decoration:none;
}